/* All root variables and styles. */

:root {
	/* Colours */

	/* solid */

	--jet: hsl(0, 0%, 22%);
	--eerie-black-2: hsl(240, 2%, 12%);
	--orange-yellow-crayola: hsl(45, 100%, 72%);

	--blur: 0px;
	--contrast: 100%;
	--brightness: 100%;
	--contrast: 100%;
	/* --dropshadow: 0px 0px 0px black; */
	--grayscale: 100%;
	--hue-rotate: 0deg;
	--invert: 0%;
	--opacity: 100%;
	--saturate: 100%;
	--sepia: 0%;

	--ff-poppins: "Poppins", sans-serif;
}

.App {
	background-color: #000;
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	display: flex;
	justify-content: center; /* Center Horizontally */
	align-items: center; /* Center Vertically */

	font-family: "Poppins", "Roboto", sans-serif;
}

.portfolio-link {
	text-decoration: none;
}

.card {
	background: var(--eerie-black-2);
	height: max-content;
	max-height: 90%;
	width: 30%;
	min-width: 250px;
	border-radius: 20px;
	text-decoration: none;
	border: 1px solid var(--jet);
}

.profile-picture {
	width: 30%;
	padding: 2px;
	margin-top: 20px;
	height: auto;
	/* border-radius: 20px; */
	border-radius: 100%;
	border: solid 1px rgba(255, 255, 255, 0.25);
	background-color: rgba(255, 255, 255, 0.075);
}
.profilePicture:hover {
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 var(--orange-yellow-crayola, #fff);
}

h1 {
	color: #fff;
	padding: 0;
	font-size: 32px;
	line-height: 0%;
}

h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	color: var(--orange-yellow-crayola, orange);
	font-size: 18px;
	line-height: 0%;
}

/* Create a horizontal line separator that goes across the div. */
.separator {
	width: 90%;
	height: 1px;
	background: var(--jet, white);
	margin: 10px auto 20px auto;
}

.button-section {
	height: max-content;
	width: 100%;
	display: flex;
	justify-content: space-around; /* Center Horizontally */
	align-items: center; /* Center Vertically */
}

.button-component {
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly; /* Center Horizontally */
	align-items: center; /* Center Vertically */
	text-decoration: none;
}

.details-section {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 90%;
	/* height: 500px; */
	height: max-content;
	margin: auto;
	/* overflow-y: scroll; */
}

h3 {
	color: #fff;
	padding: 0;
	font-size: 18px;
	text-align: left;
	line-height: 0%;
}

p {
	color: #fff;
	padding: 0;
	font-size: 16px;
	text-align: left;
}

.footer {
	top: 90%;
	background-color: #000;
	padding: 10px;
	height: 10%;
	display: flex;
	justify-content: space-evenly; /* Center Horizontally */
	align-items: center; /* Center Vertically */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.social-icon {
	height: 20px;
	color: white;
	/* filter: brightness(var(--brightness)) contrast(var(--contrast)) grayscale(var(--grayscale)); */
}

.social-icon:hover {
	color: var(--orange-yellow-crayola, orange);
	/* filter: brightness(var(--brightness)) contrast(var(--contrast)) grayscale(var(--grayscale)); */
}

/* Scale for tablet.  */
@media (max-width: 768px) {
	.card {
		width: 40%;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 15px;
	}

	h3 {
		font-size: 14px;
	}

	p {
		font-size: 12px;
	}
}

/* Scale for mobile.  */
@media (max-width: 375px) {
	h1 {
		font-size: 18px;
	}

	h2 {
		font-size: 14px;
	}

	h3 {
		font-size: 12px;
	}

	p {
		font-size: 10px;
	}
}
